
.weather-header {
    background: linear-gradient(to right, #4d3fef, #070776);
}

#leftForm {
    border: solid 1px black;
}

#search-input {

    width : 100%;
    border-radius: 5px;
}

.input-group-append {

    width : 100%
}
#search-button {
    margin-top: 5px;
    width: 100%;
}




#today {
    border: solid 1px black;
}



.card-body {
    background-color: #141134;
    color: white;
}